<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <h3> Hello <%= name %> </h3>
    <p>Please set your password using this link <a href='<%= `${frontendURL}/ResetPassword?id=${id}&code=${forgotPasswordCode}` %>'>link</a></p> 
</body>
</html>
